@mixin button-clean {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table-cell;
  }
}