engine-strict=true

# TODO remove when https://github.com/sveltejs/kit/issues/4261 is resolved
public-hoist-pattern[]=date-fns
public-hoist-pattern[]=faunadb
public-hoist-pattern[]=ua-parser-js
public-hoist-pattern[]=@sentry/*
public-hoist-pattern[]=@changesets/*
public-hoist-pattern[]=@apollo/*
public-hoist-pattern[]=pusher*
public-hoist-pattern[]=jsonwebtoken

# ??? Since svelte update
public-hoist-pattern[]=devalue
public-hoist-pattern[]=cookie
public-hoist-pattern[]=set-cookie-parser

prefer-frozen-lockfile=true
