/**
 * Height
 */
.h-full {
	height: 100%;
}

.h-screen {
	height: 100vh;
}

.h-min-full {
	min-height: 100%;
}

.h-min-screen {
	min-height: 100vh;
}

/**
 * Width
 */
.w-full {
	width: 100%;
}

.w-max-screen {
	max-width: 100vw;
}
