.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-full {
	flex: 1 1 100%;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}
