.bg-color {
	background-color: var(--ow-background);
}

.bg-color-inverse {
	background-color: var(--ow-background-inverse);
}

.text-color {
	color: var(--ow-text);
}

.text-color-inverse {
	color: var(--ow-text-inverse);
}
