/* Color palette */
:root {
    --ow-primary: #29ABE2;
    --ow-primary-light: #6EDDFF;
    --ow-primary-dark: #007CB0;
    --ow-secondary: #C7B299;
    --ow-secondary-light: #FAE4CA;
    --ow-secondary-dark: #96836B;
}

/* Theme colors */
:root {
    --ow-text: #232323;
    --ow-text-inverse: #F4F4F4;
    --ow-background: #FAFAFA;
    --ow-background-inverse: #232323;
}

/* TODO Does it need a dark theme? */
@media (prefers-color-scheme: dark) {
    :root {

    }
}
